<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Css/styles.css">
    <title>Projecto Quimica</title>
</head>
<body>
    <div id="container-primary">
        <header id="header-container">
            <img src="Images/itc-logo.png" alt="itc-logo">
            <h1 id="big-title">Tipos de enlaces entre Atomos</h1>
        </header>

        <div id="container-form">
            <form action="/" method="post" id="primary-form">
                <div class="container-form-elements">
                    <input type="text" name="elemnto1" id="inputElemento1" placeholder="Nombre o numero atomico">
                </div>
                
                <div class="container-form-elements">
                    <input type="text" name="elemento2" id="inputElemento2" placeholder="Nombre o numero atomico">
                </div>
                <button type="submit" id="verify">Verificar tipo de enlace</button>
                
            </form>
        </div>
        
    </div>
    
</body>
</html>