*{
    font-family: 'Roboto';
}

input{
    width: 30%;
    height: 40px;
    font-size: 15px;
    display: block;
    margin: auto;

}

#header-container img{
    width: 10%;
}

#container-primary{
    text-align: center;
    margin: 5% 5% 0 5%;
}

#verify{
    margin: 3%;
    background-color: #47B5FF;
    border: 1px solid #47B5FF;
    font-size: 1rem;
    color: white;
    height: 60px;
    border-radius: 10px;
}

#verify:hover{
    background-color: #DFF6FF;
    border: 1px solid #DFF6FF;
    color: #06283D;
    transition: 0.3s;
}

@media screen and (max-width: 992px) {
    input{
        width: 50%;
    }
    #header-container img{
        width: 25%;
    }
    #container-primary{
        margin: 0;
    }
}